html, body {
  height: 100%;
  text-align: center;
}

.a1{
    background-color: #1d0b0b;
    width: 100%;
    height: 15.625%;
    top: 0px;
    display: block;
}
.b2{
    background-color: red;
    width: 100%;
    height: 31.25%;
    top: 30px;
    display: block;
}
.c3{
    background-color: blue;
    width: 100%;
    height: 26.04%;
    top: 60px;
    display: block;
}
.d4 {
   background-color: green;
   width: 100%;
   height: 26.04%;
   top: 50px;
   display: block;
}
.e5{
    background-color: pink;
    width: 50%;
    height: 52.08%;
    top: 60px;
    display: inline-block;

}
.f6{
    background-color:  grey;
    width: 50%;
    height: 52.08%;
    top: 60px;
    display: inline-block;
    float:left;
}
.g7{
    background-color: yellow;
    width: 50%;
    height: 52.08%;
    top: 80px;
    display: inline-block;
}
.h8{
    background-color: purple;
    width: 50%;
    height: 52.08%;
    top: 90px;
    display: inline-block;
    float:left;
}
.i11{
    background-color: #5cf442;
    width: 100%;
    height: 16.66%;
    top: 95px;
    display: block;
}
.k{
    background-color:#f4cd41;
    width: 100%;
    height: 100%;
    top: 10px;

}

@media only screen and (min-width: 800px) {
  .a1 {
      background-color: #1d0b0b;
      width: 100%;
      height: 14.29%;
      top: 0px;
      display: block;
  }
  .b2{
      background-color: red;
      width: 20.83%;
      height: 85.71%;
      top: 30px;
      display: inline-block;
      float:left;

  }
  .c3{
      background-color: blue;
      width:   39.58%;
      height:33.33%;
      top: 60px;
      display: inline-block;
      float:left;
  }
  .d4 {
     background-color: green;
     width:  39.58%;
     height: 33.33%;
     top: 50px;
     display: inline-block;
     float:left;
  }
  .e5{
      background-color: pink;
      width: 19.79%;
      height: 26.04%;
      top: 60px;
      display: inline-block;
      float:left;

  }
  .f6{
      background-color:  grey;
      width: 19.79%;
      height: 26.04%;
      top: 60px;
      display: inline-block;
      float:left;

  }
  .g7{
      background-color: yellow;
      width: 19.79%;
      height: 26.04%;
      top: 80px;
      display: inline-block;
      float:left;
  }
  .h8{
      background-color: purple;
      width: 19.79%;
      height:26.04%;
      top: 90px;
      display: inline-block;
      float:left;
  }
  .i11{
      background-color: #5cf442;
      width: 79.16%;
      height: 26.42%;
      top: 90px;
      display: inline-block;
  }
  .k{
      background-color:#f4cd41;
      width: 100%;
      height: 100%;
      top: 10px;

  }

}
